.convenience {
  min-height: 1050px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: calc(50% + 330px) 45%, 50%;
  background-size: auto, cover;
  background-image: url('../img/convenience.png'),
    url('../img/convenience-bg.png');

  @include media-breakpoint-down(lg) {
    min-height: 700px;
  }

  @include media-breakpoint-down(sm) {
    min-height: auto;
    padding: 60px 0;
    background-position: 50%;
    background-size: cover;
    background-image: url('../img/convenience-bg.png');
  }
}
