.popular-card {
  &__img {
    height: 280px;
    object-fit: scale-down;
  }

  &__link {
    color: inherit;
    transition: 0.25s;

    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
