.text {
  ul {
    &:not([class]) {
      list-style: none;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 40px;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -3px;
          width: 31px;
          height: 31px;
          background-repeat: no-repeat;
          background-position: 50%;
          background-image: url('../img/ul.svg');
        }
      }
    }
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
