.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-800 {
  font-weight: 800;
}

.lh-narrow {
  line-height: 1.2;
}

.gap-4 {
  gap: 4px;
}

.rounded-16 {
  border-radius: 16px;
}

@include media-breakpoint-down(sm) {
  h1,
  .h1 {
    font-size: 30px;
    word-wrap: break-word;
  }
}
