$font-family-sans-serif: 'Manrope', 'Helvetica', sans-serif;
$font-weight-base: 300;

$body-color: #0d1430;
$primary: #1b6dff;
$secondary: #e2edff;
$light: #f9fbfd;
$white: #fff;

$theme-colors: (
  'white': $white,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1360px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1320px,
);

$spacers: (
  20p: 20px,
  30p: 30px,
  40p: 40px,
  60p: 60px,
  100p: 100px,
);

$font-sizes: (
  14: 14px,
  18: 18px,
  20: 20px,
  24: 24px,
);

$headings-font-weight: 800;
$headings-margin-bottom: 1rem;
$h2-font-size: 1.875rem;

$navbar-light-color: $body-color;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-padding-x: 0;
$navbar-nav-link-padding-x: 0.625rem;

$input-btn-focus-width: 0;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.25rem;
$input-btn-padding-y-lg: 1.625rem;
$input-btn-padding-x-lg: 2rem;
$input-btn-font-size-lg: 1rem;

$btn-border-radius: 10rem;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$btn-font-weight: 600;
